// Add any helper classes to this file

.container-outer {
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	padding: 0 50px;
	
	@media (max-width: 767px) {
		padding: 0 30px;
	}
	@media (max-width: 600px) {
		padding: 0 20px;
	}
}

.shadow-default {
	box-shadow: 0 4px 12px rgba(37, 36, 34, 0.2);
}
