// Add all tokens to this file. Use CSS variables.

/* CSS Variables
-------------------------------------------------------------- */
:root {
	
	// Fonts 
	--font-heading: "Bebas Neue", sans-serif;
	--font-body: "Roboto", sans-serif;
	--font-pre: "Share Tech Mono", monospace;
	
	// Colors 
	--color-bg-lite: #fdfbf4;
	--color-text-primary: #47459b;
	--color-text-secondary: #252422;
	--color-accent-blue: #47459b;
	
}