// Add all global typography here

/* Base */
html {
	font-family: var(--font-body);
	color: var(--color-text-secondary);
	font-size: 16px;
}

body {
	color: var(--text-medium);
	line-height: 1.6;
}

/* Headings */
h1,
h2,
h3,
h4 {
	font-family: var(--font-heading);
	color: var(--color-text-primary);
	line-height: 1;
	margin-top: 24px;
	margin-bottom: 16px;
	letter-spacing: 1px;
}

pre {
	font-family: var(--font-pre);
}

h1 { font-size: 48px; }
h2 { font-size: 40px; }
h3 { font-size: 32px; }
h4 { font-size: 24px; }

/* Paragraphs */
p {
	font-size: 16px;
	margin: 16px 0;
}

/* Lists */
ul,
ol {
	font-size: 16px;
	margin: 24px 0;
	padding-left: 16px;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li {
	padding-left: 8px;
	
	&::marker {
		font-weight: 700;
		color: var(--color-text-primary);
	}
}

li + li {
	margin-top: 8px;
}

/* Blockquote */
blockquote {
	margin: 32px 0;
	border: 2px solid var(--color-accent-blue);
	padding: 23px 48px 25px 48px;
	border-radius: 16px;
}

/* Links */
a {
	color: inherit;
	text-decoration: underline;

	&:hover,
	&:focus {
		// Add hover/focus styles here
	}
}

strong,
b {
	font-weight: 700;
	color: var(--color-text-primary);
}