section#accordion-dropdown {
	margin-bottom: 67px;
	.items {
		.item {
			border-radius: 16px;
			margin-bottom: 32px;
			.item-title {
				padding: 16px 32px;
				display: flex;
				justify-content: space-between;
				align-items: center;
				cursor: pointer;
				gap: 20px;
				@media (max-width: 767px) {
					padding: 16px 20px;
					margin-bottom: 20px;
				}
				h3 {
					margin: 16px 0;
					font-size: clamp(18px, calc(12px + 1.78vw), 25px);
					@media (max-width: 767px) {
						margin: 0;
						line-height: 1.2;
						.smaller {
							display: block;
						}
					}
				}
				svg {
					transform: rotate(0);
					transition: transform 0.5s linear;
					&.open {
						transform: rotate(180deg);
					}
					@media (max-width: 767px) {
						width: 30px;
						height: auto;
					}
				}
			}
			.item-content {
				display: none;
				padding: 0 32px 32px 32px;
				@media (max-width: 767px) {
					padding: 0 20px 20px 20px;
				}
				h4 {
					font-size: 18px;
				}
				& > *:first-child {
					margin-top: 0;
				}
				& > *:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}