section#featured-work-carousel {
	overflow: hidden;
	.featured-work {
		.slick-list {
			overflow: visible;
			width: calc(100% + 32px);
			@media (max-width: 767px) {
				width: calc(100% + 20px);
			}
		}
		.slick-track:hover {
			cursor: grab;
			&:active {
				cursor: grabbing;
			}
		}
		.slick-slide {
			margin-right: 32px;
			@media (max-width: 767px) {
				margin-right: 20px;
			}
			picture {
				display: block;
				width: 100%;
				height: auto;
				aspect-ratio: 16 / 9;
				border-radius: 16px;
				overflow: hidden;
				img {
					display: block;
					object-fit: cover;
					width: 100%;
					height: 100%;
					max-width: 700px;
				}
			}
			.project-details {
				a.project-url {
					color: var(--color-text-primary);
					text-decoration: none;
					&:hover {
						text-decoration: underline;
					}
				}
				span {
					font-weight: 500;
					color: var(--color-text-primary);
				}
				*:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}