section#intro {
	margin-bottom: 67px;
	@media (max-width: 900px) {
		margin-bottom: 55px;
	}
	
	picture {
		width: 150px;
		height: auto;
		display: block;
		overflow: hidden;
		border-radius: 50%;
		margin-bottom: 48px;
		
		@media (max-width: 900px) {
			width: 100px;
			margin-bottom: 35px;
		}

		img {
			display: block;
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
	}

	.intro-content > p:first-of-type {
		font-size: 20px;
		@media (max-width: 767px) {
			font-size: 18px;
		}
	}
}
