section#skills {
	.skills {
		display: flex;
		justify-content: space-between;
		gap: 32px;
		
		@media (max-width: 767px) {
			display: block;
		}
		
		.column {
			flex: 1;
			
			h2,h3,h4,h5:first-child {
				margin-top: 0px;
			}
		}
	}
}