section#logo-carousel {
	margin: 32px 0;

	.logos {
		picture {
			margin: 0 16px;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100px;

			img {
				display: block;
				width: 80%;
			}
		}
	}
}
